extends layout

block content
    h1 Выберите нужную комплектацию автомобиля
    p
        div
            a(href='/') На главную
        div
            form(action='/car/find' method="post" enctype='multipart/form-data')
                div
                    label Тип коробки
                    select(name='transmission')
                        each variable in variables.filter(t => t.Description=='Тип коробки')
                            option(value=variable.EquipmentId) #{variable.Type}
                div
                    label Класс автомобиля
                    select(name='clas')
                        each variable in variables.filter(t => t.Description=='Класс автомобиля')
                            option(value=variable.EquipmentId) #{variable.Type}
                div
                    label Тип кузова
                    select(name='body')
                        each variable in variables.filter(t => t.Description=='Тип кузова')
                            option(value=variable.EquipmentId) #{variable.Type}
                div
                    label Количество мест
                    select(name='seat')
                        each variable in variables.filter(t => t.Description=='Количество мест')
                            option(value=variable.EquipmentId) #{variable.Type}
                div
                    label Кондиционер
                    select(name='conditioner')
                        each variable in variables.filter(t => t.Description=='Кондиционер')
                            option(value=variable.EquipmentId) #{variable.Type}
                div
                    button(type='submit') Поиск машин